body{
	
		font-family: 'Josefin Slab', serif;
}

h1,h2,h3{
font-family: 'Jura', sans-serif;
}


.profile-img {
	width: 250px;
	height: 250px;
	border-radius: 125px;
	-webkit-border-radius: 125px;
	-moz-border-radius: 125px;
	background: url(/img/paul.png) no-repeat;
	}

.progress.skill-level {
    margin-bottom: 5px;
}

.stick-top{
	margin-top: 0px;
}
