body{
	
		font-family: 'Josefin Slab', serif;
		font-size: 14pt;
}

h1,h2,h3{
	font-family: 'Jura', sans-serif;
	margin-top: 0px;
}


h1, .jumbotron h1, .jumbotron .h1
{
	color: #90A4AE;
}

h2{
	color: #90A4AE;
}




.profile-img {
	width: 250px;
	height: 250px;
	border-radius: 125px;
	-webkit-border-radius: 125px;
	-moz-border-radius: 125px;
	background: url(/img/paul.png) no-repeat;
	}

.progress.skill-level {
    margin-bottom: 5px;
}

.nopadding{
   padding: 0 !important;
   margin: 0 !important;
}

.jumbotron{
	background-color: #ECEFF1;
}

.progress-bar{
	background-color: #607D8B;
	

}

skillLevel {
		font-size: 12pt;
}
