<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
                <div class="profile-img"></div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <h1 class="stick-top">Paul Vaughan</h1>
                <p class="stick-top">Principal Web Developer</p>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-3 col-lg-3">
                <p>Contact</p>
                <i class="fa fa-envelope" aria-hidden="true"></i> paul.vaughan@planet.nl <br/> 
                <i class="fa fa-map-marker" aria-hidden="true"></i> Laan van Avant-Garde 346, 3059RA Rotterdam <br/>
                <i class="fa fa-mobile" aria-hidden="true"></i> +31-650278515  <br/>
                <i class="fa fa-twitter" aria-hidden="true"></i> @pavaughan
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
             <h2 class="stick-top">Summary</h2>
        </div>
        <div class="col-md-8">
            <p>Since my graduation in 2006 I gained experience as a software engineer at various companies. I have developed
                games, intranet applications and simulation software. My goal is always to use my knowledge of software development
                and enthusiasm for new technology and trends, to develop products that are cutting edge and add value. Specialties:
                Programming C#, C++ .NET Development ASP.NET MVC 3 WIndows Phone 7 Development
            </p>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <h2 class="stick-top">Key Skills</h2>
        </div>
        <div class="col-md-8 nopadding">
            <skillLevel [label]="'HTML5'" [level]="'90'"></skillLevel>
            <skillLevel [label]="'CSS3'" [level]="'70'"></skillLevel>
            <skillLevel [label]="'JavaScript'" [level]="'90'"></skillLevel>
            <skillLevel [label]="'TypeScript'" [level]="'60'"></skillLevel>
            <skillLevel [label]="'Java 8'" [level]="'90'"></skillLevel>
            <skillLevel [label]="'Spring MVC'" [level]="'70'"></skillLevel>
            <skillLevel [label]="'Angular'" [level]="'70'"></skillLevel>
            <skillLevel [label]="'JQuery'" [level]="'80'"></skillLevel>
            <skillLevel [label]="'Responsive Design'" [level]="'70'"></skillLevel>
            <skillLevel [label]="'REST-API'" [level]="'90'"></skillLevel>
            <skillLevel [label]="'iOS Swift'" [level]="'50'"></skillLevel>
            <skillLevel [label]="'ASP.NET MVC'" [level]="'80'"></skillLevel>
            <skillLevel [label]="'C#'" [level]="'90'"></skillLevel>
            <skillLevel [label]="'Amazon Web Services'" [level]="'50'"></skillLevel>
            <skillLevel [label]="'Docker'" [level]="'40'"></skillLevel>
            <skillLevel [label]="'Scrum Master'" [level]="'80'"></skillLevel>
            <skillLevel [label]="'Oracle 11g'" [level]="'70'"></skillLevel>
            <skillLevel [label]="'MySQL'" [level]="'80'"></skillLevel>
            <skillLevel [label]="'Git (Github)'" [level]="'90'"></skillLevel>
            <skillLevel [label]="'Sass'" [level]="'40'"></skillLevel>
        </div>
    </div>

    <hr>

<div class="row">
        <div class="col-md-4">
             <h2 class="stick-top">Work Experiance</h2>
        </div>
        <div class="col-md-8 ">
            
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 nopadding">
                <h3 class="stick-top">Principal Web Developer at Mobiquity, Inc</h3>
                 <p>At Mobiquity I work on web development projects mainly focused around e-commerce. 
                        - Java Spring
- Hibernate
- AngularJS
- REST api's
            </p>
            </div>
           
             <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 nopadding">
                <h3 class="stick-top">Consultant .NET Development at Logica (now CGI)</h3>
                 <p>At Logica I work as an IT consultant. I add value for Logica clients using my knowledge of Microsoft technology e.g. C#.NET, ASP.NET, C++ and MFC. Up to now I have participated in projects mainly for Shell.
            </p>
            </div>
            <hr/>
            
            
           
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-md-4">
             <h2 class="stick-top">Education</h2>
        </div>
        <div class="col-md-8">
            <h3>Hogeschool Rotterdam 

</h3>
            <p>Bachelor of Applied Science (B.A.Sc.), Information Technology <br/> <i>attended 2003 – 2006</i> <p>
        </div>
    </div>
    <hr/>
    <footer>
        <p>© 2016 Paul Vaughan, Rotterdam</p>
    </footer>
</div>
<!-- /container -->